* {
  margin: 0;
  padding: 0;
  border: 0;
}

#bg {
  position:absolute;
}

.intro-container {
  display: flex;
  align-items: center;
  height: 80%;
  position:absolute;
} 

.intro {
  width: 55%;
  display:block;
  padding-left: 100px;
}

.main-logo {
  display: inline-block;
  vertical-align: middle;
  filter: invert(100%) sepia(93%) saturate(28%) hue-rotate(121deg) brightness(107%) contrast(108%);
  width:800px;
  height:auto;
}

.intro p {
  font-size: 80px;
  background-image: linear-gradient(30deg, #ffffff, #a4b4f7c9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 80px;
}